**/.idea/**
**/__pycache__/**
**/vad_data.tar.gz
**/vad_data/**
**/data_train_test/*.npy
**/RIRS_NOISES/**
**/*.zip
**/noise_data/**
**/.ipynb_checkpoints/**
**/models/*.h5
**/LibriSpeech/**
**/*.tar.gz